{{- if .Values.appConfig.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.appConfig.name | default "app-config" }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.appConfig.data }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}


